<div class="container my-5">

  <nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="marca === 'Fmo'">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuSubmarcas" aria-controls="menuSubmarcas" aria-expanded="false" aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>

    </button>
  
    <div class="collapse navbar-collapse" id="menuSubmarcas">

      <ul class="navbar-nav m-auto">

        <li class="nav-item">

          <a class="nav-link tipo-cursor" (click)="elegirMenu(2)" id="marcas">Comerciales</a>

        </li>

        <li class="nav-item">

          <a class="nav-link tipo-cursor" (click)="elegirMenu(3)" id="generico">Genericos</a>

        </li>

      </ul>

    </div>
    
  </nav>

  <div class="row mas-vendidos" *ngIf="marcas.length === 0 && !virtual">

      <div class="col-12 col-lg-3 col-md-6 col-sm-12 pt-2" *ngFor="let pre of precarga">
  
          <div class="card">
  
              <div class="card-body text-center">
  
                  <img src="assets/images/precarga/cart-loading.gif" class="img-fluig" width="250">
  
              </div>
  
          </div>
  
      </div>
  
  </div>

  <div class="row mas-vendidos" *ngIf="marcas.length > 0 && !virtual">

      <div class="col-12 col-lg-3 col-md-6 col-sm-12 pt-2 el-element-overlay" *ngFor="let mc of marcas">

          <div class="card">

              <div class="el-card-item text-center">

                  <div class="el-card-avatar el-overlay-1">

                      <img [src]="mc.img" class="img-fluig tipo-cursor" width="200" (click)="irPorMarcas(mc)">
          
                  </div>

                  <h5 class="pt-2 pb-4 text-truncate">{{mc.marca}}</h5>

              </div>

          </div>

      </div>

  </div>

  <div class="col-lg-12 col-md-12 col-sm-12 my-5" style="height: 80px;" *ngIf="marcas.length === 0 && virtual">

    <h1>Catálogo Virtual Mendoza</h1>

  </div>

  <div class="col-lg-12 col-md-12 col-sm-12 my-5" style="height: 90px;" *ngIf="marcas.length === 0 && virtual">

    <h3>Por el momento el catálogo virtual está en proceso, pero puede descargar el PDF para tener la información completa.</h3>

    <!-- <div id="mybook">

      <div>

        <img src="assets/images/revista/page_1.jpg">

      </div>

      <div>

        <img src="assets/images/revista/page_2.jpg">

      </div>

      <div>

        <img src="assets/images/revista/page_3.jpg">

      </div>

      <div>

        <img src="assets/images/revista/page_4.jpg">

      </div>

    </div> -->

    <!-- <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(urlMendoza)" width="100%" height="700"></iframe> -->

  </div>

  <div class="col-lg-12 col-md-12 col-sm-12 text-center my-5" style="height: 80px;" *ngIf="marcas.length === 0 && virtual">

    <a type="button" href="assets/pdf/mendoza2020.pdf" class="btn btn-linkedin" target="_blank">Descargar</a>

  </div>

</div>
