<div id="carouselVideo" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">

        <div class="carousel-item active" id="video">

            <video id="truper" autoplay="autoplay" loop="loop" class="img-responsive" width="100%">

                <source [src]="movie" type="video/mp4">

            </video>

            <div class="carousel-caption texto-video">

                <h1 class="font-weight-bold text-white display-1">HACEMOS QUE TU NEGOCIO</h1>

                <h1 class="btn-avance font-weight-bold display-2 text-uppercase">

                        AVANCE
        
                </h1>
                
            </div>

            
        </div>

        <!-- <img src="assets/images/background/feliz_navidad4.jpg" class="img-fluid"> -->
        
    </div>

</div>

<div class="container">

    <div id="carouselPrincipal" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">

            <li data-target="#carouselPrincipal" data-slide-to="0" class="active"></li>

            <li data-target="#carouselPrincipal" data-slide-to="1"></li>

            <li data-target="#carouselPrincipal" data-slide-to="2"></li>

        </ol>

        <div class="carousel-inner">

            <div class="carousel-item active">

                <a href="assets/pdf/promotruper.pdf" target="_blank">

                    <img src="assets/images/carrusel/banner1.jpg" class="d-block w-100">

                </a>

            </div>

            <div class="carousel-item">

                <a href="assets/pdf/promotruper.pdf" target="_blank">

                    <img src="assets/images/carrusel/banner2.jpg" class="d-block w-100">
                
                </a>

            </div>

            <div class="carousel-item">

                <a href="assets/pdf/promotruper.pdf" target="_blank">

                    <img src="assets/images/carrusel/banner3.jpg" class="d-block w-100">

                </a>

            </div>

            <!-- <div class="carousel-item">

                <a href="assets/pdf/volatil_public.pdf" target="_blank">

                    <img src="assets/images/carrusel/banner4.jpg" class="d-block w-100">

                </a>

            </div> -->

        </div>

        <a class="carousel-control-prev" href="#carouselPrincipal" role="button" data-slide="prev">

            <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->

            <span class="chevron left" aria-hidden="true"></span>

            <span class="sr-only">Previous</span>

        </a>

        <a class="carousel-control-next" href="#carouselPrincipal" role="button" data-slide="next">

            <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->

            <span class="chevron right" aria-hidden="true"></span>

            <span class="sr-only">Next</span>

        </a>

    </div>

</div>

<!-- <div class="barra"></div> -->

<!-- <div class="row pb-3">

    <div class="col-12">

        <img src="assets/images/banners/iconos-banner-home.png" class="img-fluid">

    </div>
    
</div> -->