<!-- <footer class="nav-bottom-oscuro-dark pt-4 pb-3 pl-5 pr-5">

    <div class="row">

        <div class="col-12 col-lg-3 col-md-6 col-sm-12 centrar">

            <img src="assets/images/logo-min.png" class="img-fluid" alt="Ferremayoristas Olvera">

            <h3>Ferremayoristas Olvera</h3>

            <p>Soluciones para los negocios.</p>

        </div>

        <div class="col-12 col-lg-3 col-md-6 col-sm-12">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3735.7473465580874!2d-100.42003618507523!3d20.55751588625555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d3456caf82ed67%3A0xdaf197efe82b54db!2sFerremayoristas+Olvera+SA+de+CV!5e0!3m2!1ses!2smx!4v1550602518368"
                width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>

        </div>

        <div class="col-12 col-lg-3 col-md-6 col-sm-12">

            <h3 class="text-claro">Ubicación</h3>

            <p class="text-danger">Av. Prologación Constituyentes No. 1095 Int. 2</p>

            <p class="text-danger">Col. El Pócito 76902</p>

            <p class="text-danger">San José de los Olvera, Querétaro</p>

            <h3 class="text-claro">Ordenar por línea</h3>

            <p class="text-danger">+52 (442) 196 8555</p>

            <p class="text-danger">+52 (442) 196 6846</p>

        </div>

        <div class="col-12 col-lg-3 col-md-6 col-sm-12 redes">

            <h3 class="text-claro">Síguenos</h3>

            <ul class="list-unstyled">

                <li class="list-unstyled">

                    <a href="https://www.facebook.com/FerremayoristasOlvera" class="nav-link" target="_blank">

                        <i class="mdi mdi-facebook"></i> Facebook

                    </a>

                </li>

                <li class="list-unstyled">

                    <a href="https://www.linkedin.com/" class="nav-link" target="_blank">

                        <i class="mdi mdi-linkedin-box"></i> LinkedIn

                    </a>

                </li>

            </ul>

        </div>

        <div class="col-12"></div>

    </div>

</footer> -->

<footer class="nav-bottom-oscuro-dark" style="padding:  3em 0;">

    <div class="container">

        <div class="row footer-grids">

            <div class="col-lg-3 col-md-3 col-sm-6">

                <h3 style="font-size: 1em; color: #fff; margin: 0 0 1em; position: relative; padding-bottom: .5em;">SOPORTE AL CLIENTE</h3>

                <ul class="list-unstyled text-white">

                    <!-- <li class="py-2">
                        
                        <a class="nav-footer" routerLink="/sop-factura" fragment="facturacion">Facturación</a>
                    
                    </li> -->

                    <!-- <li class="py-2">
                        
                        <a class="nav-footer" routerLink="/nosotros">Preguntas frecuentes</a>
                    
                    </li> -->

                    <li class="py-2">
                        
                        <a class="nav-footer" routerLink="/acceso" *ngIf="!conectado">Mis pedidos</a>
                        <a class="nav-footer" routerLink="/dist" *ngIf="conectado">Mis pedidos</a>
                    
                    </li>

                    <li class="py-2">
                        
                        <a class="nav-footer" routerLink="/contacto">Contacto</a>
                    
                    </li>

                </ul>

            </div>

            <div class="col-lg-3 col-md-3 col-sm-6">

                <h3 style="font-size: 1em; color: #fff; margin: 0 0 1em; position: relative; padding-bottom: .5em;">POLÍTICAS</h3>

                <ul class="list-unstyled text-white">

                    <li class="py-2">
                        
                        <a class="nav-footer" routerLink="/pol-venta">Políticas de venta</a>
                    
                    </li>

                    <li class="py-2">
                        
                        <a class="nav-footer" routerLink="/pol-devolucion">Políticas de devolución</a>
                    
                    </li>

                    <!-- <li class="py-2">
                        
                        <a class="nav-footer" routerLink="/nosotros">Términos y Condiciones</a>
                    
                    </li> -->

                    <li class="py-2">
                        
                        <a class="nav-footer" href="http://www.ferremayoristas.com.mx/privacidad" target="_blank">Aviso de privacidad</a>
                    
                    </li>

                    <li class="py-2">
                        
                        <a class="nav-footer" routerLink="/pol-garantia">Políticas de garantía</a>
                            
                    </li>

                </ul>

            </div>

            <div class="col-lg-3 col-md-3 col-sm-6">

                <h3 style="font-size: 1em; color: #fff; margin: 0 0 1em; position: relative; padding-bottom: .5em;">FERREMAYORISTAS</h3>

                <ul class="list-unstyled text-white">

                    <li class="py-2">
                        
                        <a class="nav-footer" routerLink="/nosotros">Acerca de nosotros</a>
                    
                    </li>

                    <li class="py-2">
                        
                        <a class="nav-footer" routerLink="/cobertura">Nuestra Cobertura</a>
                    
                    </li>

                    <li class="py-2">
                        
                        <a class="nav-footer" href="https://www.truper.com/catvigente/" target="_blank">Cátalogo Truper</a>
                    
                    </li>

                    <li class="py-2">
                        
                        <a class="nav-footer" routerLink="/bolsa-trabajo">Bolsa de trabajo</a>
                    
                    </li>

                    <li class="py-2">
                        
                        <a class="nav-footer" routerLink="/ofertas">Promociones del mes</a>

                    </li>

                </ul>

            </div>

            <div class="col-lg-3 col-md-3 col-sm-6">

                <h3 style="font-size: 1em; color: #fff; margin: 0 0 1em; position: relative; padding-bottom: .5em;">FORMAS DE PAGO</h3>

                <ul class="list-inline text-white">

                    <li class="list-inline-item">

                        <i class="fab fa-cc-visa mx-2" style="font-size: 3em; color: #94b3c3"></i>

                    </li>

                    <li class="list-inline-item">

                        <i class="fab fa-cc-mastercard mx-2" style="font-size: 3em; color: #94b3c3"></i>

                    </li>

                    <!-- <li class="list-inline-item">

                        <span id="siteseal"><script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=DWDk42tDmGBCdGl4IJpKyK6SIEXjkXjJG54IqYqg2CBJAxOGh6yBIcj2SPrB"></script></span>

                    </li> -->

                </ul>

            </div>

        </div>

    </div>

</footer>

<div style="background: #2e393f; font-size: 13px;">

    <div class="container text-white text-center p-3">

        <small>2019 &reg;Ferremayoristas Olvera S.A. de C.V. Todos los Derechos Reservados</small>

    </div>

</div>