<footer class="nav-bottom-oscuro-dark" style="padding:  3em 0;">

    <div class="container">

        <div class="row footer-grids">

            <div class="col-lg-3 col-md-3 col-sm-6">

                <h3 style="font-size: 1em; color: #fff; margin: 0 0 1em; position: relative; padding-bottom: .5em;">SOPORTE AL CLIENTE</h3>

                <ul class="list-unstyled text-white">

                    <li class="py-2">
                        
                        <a class="nav-footer" routerLink="/acceso" *ngIf="!conectado">Mis pedidos</a>
                        <a class="nav-footer" routerLink="/dist" *ngIf="conectado">Mis pedidos</a>
                    
                    </li>

                    <li class="py-2">
                        
                        <a class="nav-footer" routerLink="/contacto">Contacto</a>
                    
                    </li>

                </ul>

            </div>

            <div class="col-lg-3 col-md-3 col-sm-6">

                <h3 style="font-size: 1em; color: #fff; margin: 0 0 1em; position: relative; padding-bottom: .5em;">POLÍTICAS</h3>

                <ul class="list-unstyled text-white">

                    <li class="py-2">
                        
                        <a class="nav-footer" routerLink="/pol-venta">Políticas de venta</a>
                    
                    </li>

                    <li class="py-2">
                        
                        <a class="nav-footer" routerLink="/pol-devolucion">Políticas de devolución</a>
                    
                    </li>

                    <li class="py-2">
                        
                        <a class="nav-footer" href="http://www.ferremayoristas.com.mx/privacidad" target="_blank">Aviso de privacidad</a>
                    
                    </li>

                    <li class="py-2">
                        
                        <a class="nav-footer" routerLink="/pol-garantia">Políticas de garantía</a>
                            
                    </li>

                </ul>

            </div>

            <div class="col-lg-3 col-md-3 col-sm-6">

                <h3 style="font-size: 1em; color: #fff; margin: 0 0 1em; position: relative; padding-bottom: .5em;">FERREMAYORISTAS</h3>

                <ul class="list-unstyled text-white">

                    <li class="py-2">
                        
                        <a class="nav-footer" routerLink="/nosotros">Acerca de nosotros</a>
                    
                    </li>

                    <li class="py-2">
                        
                        <a class="nav-footer" routerLink="/cobertura">Nuestra Cobertura</a>
                    
                    </li>

                    <li class="py-2">
                        
                        <a class="nav-footer" href="https://www.truper.com/catvigente/" target="_blank">Cátalogo Truper</a>
                    
                    </li>

                    <li class="py-2">
                        
                        <a class="nav-footer" routerLink="/bolsa-trabajo">Bolsa de trabajo</a>
                    
                    </li>

                    <li class="py-2">
                        
                        <a class="nav-footer" routerLink="/ofertas">Promociones del mes</a>

                    </li>

                </ul>

            </div>

            <div class="col-lg-3 col-md-3 col-sm-6">

                <h3 style="font-size: 1em; color: #fff; margin: 0 0 1em; position: relative; padding-bottom: .5em;">FORMAS DE PAGO</h3>

                <ul class="list-inline text-white">

                    <li class="list-inline-item">

                        <i class="fab fa-cc-visa mx-2" style="font-size: 3em; color: #94b3c3"></i>

                    </li>

                    <li class="list-inline-item">

                        <i class="fab fa-cc-mastercard mx-2" style="font-size: 3em; color: #94b3c3"></i>

                    </li>

                </ul>

            </div>

        </div>

    </div>

</footer>

<div style="background: #2e393f; font-size: 13px;">

    <div class="container text-white text-center p-3">

        <small>2020 &reg;Grupo Ferremayoristas del Bajío S.A. de C.V. Todos los Derechos Reservados</small>

    </div>

</div>