<div class="container contacto my-5 py-5">

  <div class="row">

    <div class="col-12">

      <h1>CONTACTO</h1>

    </div>

    <div class="col-12 mt-3">

      <h2>Ubicación</h2>

      <span>Av Prolongación Constituyentes No. 1095 Interior 2 Col. El Pócito</span>

      <br>

      <span>Corregidora, Querétaro 76903</span>

      <br>

      <span>Tel.: (442) 196 8555 / 196 6846</span>

      <br>

      <span>contacto@ferremayoristas.com.mx</span>

      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3735.7473465580874!2d-100.42003618507523!3d20.55751588625555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d3456caf82ed67%3A0xdaf197efe82b54db!2sFerremayoristas+Olvera+SA+de+CV!5e0!3m2!1ses!2smx!4v1550602518368"
                width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>

      <br>

      <span>Si necesitas algún servicio o necesitas información para tu negocio, envia un mensaje y uno de nuestros ejecutivos te asesorará.</span>

      <br>

      <button type="button" class="btn-cart" [routerLink]="['/registro']">
        
        <span class="text-uppercase">Comentario</span>
      
      </button>

    </div>

  </div>

</div>
