<div class="row">

    <div class="col-12 fondo-nosotros"></div>
    
</div>

<div class="container">

    <div class="row mt-3">

        <div class="col-12 col-lg-6 col-md-12 pt-5 pb-5 centrar">

            <h1>Nosotros</h1>

            <h3>Nuestra Experiencia</h3>

            <p class="text-justify">En abril de 2007 se creó el Centro de Distribución Mayoristas de Herramientas Truper, cubriendo principalmente las zonas de San Juan del Río y Tequisquiapan. Actualmente y desde Enero 2012, estamos establecidos en la ciudad de Querétaro, cubriendo además de las zonas mencionadas, los estados de Hidalgo, Guanajuato, Michoacán y Estado de México.</p>

            <hr>

        </div>

        <div class="col-12 col-lg-6 col-md-12 pt-5 pb-5 centrar">

            <img src="assets/images/logo-min.png" alt="Grupo Ferremayoristas del Bajío" class="img-fluid">

        </div>

    </div>

    <div class="row mt-3">

        <div class="col-12 col-lg-12 col-md-12 pt-5 pb-5 centrar">

            <h1>Nuestro Compromiso</h1>

            <hr>

            <p class="text-justify">Establecer muy en alto la responsabilidad con nuestros clientes, proveedores y asociados, realizando nuestras actividades con gran esfuerzo día a día dentro de un marco de honradez social, labloral y fiscal; con profesionalismo, seriedad, ética y respeto.</p>

            <hr>

        </div>

    </div>

    <div class="row bg-danger text-white pl-3 pr-3 mt-5 mb-5">

        <div class="col-12 col-lg-6 col-md-12 pt-5 pb-5 centrar" style="text-align: -webkit-center;">

            <img src="assets/images/gifs/gif1.gif" class="img-fluid" width="300">

        </div>

        <div class="col-12 col-lg-6 col-md-12 pt-5 pb-5 centrar">

            <h1 class="text-white">¿Eres Mayoristas?</h1>

            <p class="text-justify">Hemos logrado tener el mejor porcentaje de surtido con mínima falla de entrega, obteniendo confianza entre nuestros clientes; gracias a nuestra fuerza de venta y nuestro equipo de surtidores, hemos llegado a cada rincón del país. Siempre estamos
                buscando lo más nuevo en tecnología para ofrecer calidad a nuestros clientes. Y tú, ¿Qué esperas para estar con nosotros?</p>

        </div>

    </div>

    <div class="row pl-3 pr-3 mt-5 mb-5">

        <div class="col-12 col-lg-6 col-md-12 pt-5 pb-5 centrar">

            <h1>Nuestros Servicios</h1>

            <p class="text-justify">Pide lo que necesites y te lo entregamos en menos de 24Hrs (Zona Metropolitana), tu escritorio personal para ver tus pedidos, facturas, etc!.</p>

            <p class="uk-text-justify">Solo necesitas registrarte y poder empezar a usar todos nuestros servicios. Empieza ya!</p>

            <a routerLink="/registro" class="btn btn-danger" *ngIf="!conetado">Registrarse!</a>

            <a routerLink="/dist" class="btn btn-success" *ngIf="conetado">Ir a mi cuenta!</a>

        </div>

        <div class="col-12 col-lg-6 col-md-12 pt-5 pb-5 centrar-fas">

            <img src="assets/images/gifs/gif2.gif" class="img-fluid">

        </div>

    </div>

</div>