<div class="row">

    <div class="col-12 col-lg-3 col-md-6 col-sm-12" *ngFor="let car of carrito">

        <div class="card">

            <div class="card-body text-center">

                <img [src]="car.img" class="img-fluig" width="200"> <small class="desc2"> -{{ (car.descuento * 100) }}%</small>

                <h5 class="pt-2 pb-4">{{car.descripcion}}</h5>

                <h6 class="text-muted">

                    <small>

                    <s>{{ car.precioAumentado | currency }}</s>
                    
                </small>

                </h6>

                <h4 class="font-weight-bold text-danger">

                    {{ car.precio | currency }}

                </h4>

                <button class="btn btn-linkedin" type="button" (click)="irA(car)">

                Comprar

            </button>

            </div>

        </div>

    </div>

</div>