<div class="container">

    <nav class="breadcrumb bg-transparent">

        <a class="breadcrumb-item" routerLink="/inicio">Inicio</a>

        <a class="breadcrumb-item" routerLink="" (click)="comeBack()">Producto Encontrado</a>

        <span class="breadcrumb-item active">{{ descripcion }}</span>

    </nav>

    <div class="row mb-5 pb-5">

        <div class="col-lg-4 col-md-4 col-sm-12 col-12 text-center">

            <img [src]="imagen" class="img-fluid">

        </div>

        <div class="col-lg-5 col-md-5 col-sm-12 col-12">

            <h2 class="font-weight-bold">{{ descripcion }}</h2>

            <h6 class="text-muted lin">Clave: {{ clave }}</h6>

            <h6 class="text-muted">Código: {{ codigo }}</h6>

            <h6 class="text-muted"><small>Articulo: {{ articuloid }}</small></h6>

            <h3 class="text-muted">

                <span class="badge badge-danger">{{ marca }}</span>

            </h3>

            <h6 class="pt-4">Forma de Surtido</h6>

            <table class="table table-borderless">

                <tbody>

                    <tr>

                        <td>Por pieza {{ cant_pz }} {{unidad}}</td>

                    </tr>

                    <tr>

                        <td>Por Inner {{ cant_in }} {{unidad}}</td>

                    </tr>

                    <tr>

                        <td>Por Master {{ cant_ma }} {{unidad}}</td>

                    </tr>

                </tbody>

            </table>

            <h4 *ngIf="backO">

                <span class="badge badge-red">Producto de BackOrder con {{cantidadBack}} pz(s).</span>
            </h4>

        </div>

        <div class="col-lg-3 col-md-3 col-sm-12 col-12 text-center">

            <h6 class="text-muted" *ngIf="descuentoBol">Precio Regular</h6>

            <h6 class="text-muted" *ngIf="descuentoBol"><s>{{ precioAumentado | currency }}</s></h6>

            <h4 class="font-bold pt-3" *ngIf="descuentoBol">Oferta <small class="desc">-{{ (desc * 100) }}%</small></h4>

            <h3 class="font-bold" *ngIf="descuentoBol">{{ precio | currency }}</h3>

            <h6 class="font-bold" *ngIf="!descuentoBol">Precio</h6>

            <h3 class="font-bold" *ngIf="!descuentoBol">{{ precio | currency }}</h3>

            <form #f="ngForm" class="pt-3">

                <label for="cantidad">Cantidad:</label>

                <div class="form-group">


                    <input type="number" #input [ngModel]="cant_pz" id="cantidad" [min]="cant_pz" [step]="lote" name="cantidad" class="form-control text-center" placeholder="1" style="width: 100px;" (change)="cambiarCantidad(f)">

                </div>

                <div class="form-group">

                    <button type="button" class="btn btn-outline-danger" (click)="agregarCarrito(producto, f)">Agregar al Carrito</button>

                </div>

                <!-- <div class="form-group">

                    <button type="button" class="btn btn-outline-success" (click)="agregarFavoritos(producto, f)">Agregar a Favoritos</button>

                </div> -->

            </form>

            <p>*Al Seleccionar la cantidad, en automático se le realizará la forma de surtido.</p>

        </div>

    </div>

</div>