<div class="row pt-1 pt-2 pb-4">

    <div class="col-md-12">

        <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBarSubmenu" aria-controls="navBarSubmenu" aria-expanded="false" aria-label="Toggle navigation">

                        <span class="navbar-toggler-icon"></span>

                    </button>

            <div class="collapse navbar-collapse" id="navBarSubmenu">

                <ul class="navbar-nav mr-auto">

                    <li class="nav-item dropdown" *ngFor="let menu of menus; let i = index">


                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                            <i [class]="menu.icono"></i> {{ menu.titulo }}

                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <a class="dropdown-item" [routerLink]="[ submenu.url ]" *ngFor="let submenu of menu.submenu"><i [class]="submenu.icono"></i> {{ submenu.titulo}} </a>

                            <!-- <div class="dropdown-divider"></div> -->

                        </div>


                    </li>

                </ul>

            </div>

        </nav>

    </div>

    <div class="col-md-12 pt-5">

        <router-outlet></router-outlet>

    </div>

</div>