<div class="row pt-1 pb-4 cuerpo paginas" style="margin-top: 52px;">

    <div class="col-md-12">

        <div class="container">

            <nav class="navbar navbar-expand-lg navbar-light nav-top-oscuro-dark">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBarSubmenu" aria-controls="navBarSubmenu" aria-expanded="false" aria-label="Toggle navigation">

                    <span class="navbar-toggler-icon"></span>

                </button>

                <div class="collapse navbar-collapse" id="navBarSubmenu">

                    <ul class="navbar-nav m-auto">

                        <li class="nav-item" *ngFor="let menu of menus; let i = index">

                            <ul class="navbar-nav m-auto">

                                <li class="nav-item pl-2 pr-2" *ngFor="let submenu of menu.submenu">

                                    <a [routerLink]="[ submenu.url ]" class="nav-link text-blanco">

                                        <i [class]="submenu.icono"></i> {{ submenu.titulo}}

                                    </a>

                                </li>

                            </ul>


                            <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                <i [class]="menu.icono"></i> {{ menu.titulo }}

                            </a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                <a class="dropdown-item" [routerLink]="[ submenu.url ]" *ngFor="let submenu of menu.submenu"><i [class]="submenu.icono"></i> {{ submenu.titulo}} </a>

                            </div> -->


                        </li>

                    </ul>

                </div>

            </nav>

        </div>

    </div>

    <div class="col-md-12 pt-3">

        <router-outlet></router-outlet>

    </div>

</div>