<div class="container my-5">

  <nav class="breadcrumb bg-transparent">

    <a class="breadcrumb-item" routerLink="/inicio">Inicio</a>

    <a class="breadcrumb-item" [routerLink]="['/marcas', marca]">{{marca}}</a>

    <span class="breadcrumb-item active">Productos {{nombre | uppercase}}</span>

  </nav>

  <div class="row">

    <div class="col-lg-12 col-md-12 col-sm-12 col-12">

      <img src="https://www.ferremayoristas.com.mx/assets/images/marcas/{{buscar|lowercase}}" width="15%">

    </div>

    <div class="row mas-vendidos" *ngIf="productos.length === 0">

      <div class="col-12 col-lg-3 col-md-6 col-sm-12 pt-2" *ngFor="let pre of precarga">
  
          <div class="card">
  
              <div class="card-body text-center">
  
                  <img src="assets/images/precarga/cart-loading.gif" class="img-fluig" width="250">
  
              </div>
  
          </div>
  
      </div>
  
    </div>

    <div class="col-12 col-lg-3 col-md-6 col-sm-12 pt-2 el-element-overlay" *ngFor="let mejor of productos">

        <div class="card">

            <div class="el-card-item text-center">

                <div class="el-card-avatar el-overlay-1 rounded-circle" style="max-height: 250px!important">

                    <img [src]="mejor.imagen" class="img-fluig" width="200">

                    <div class="el-overlay">

                      <ul class="el-info">
        
                        <li>
        
                          <span class="btn default btn-outline image-popup-vertical-fit" data-toggle="tooltip" title="Código: {{ mejor.codigo }}">
        
                            Código: {{ mejor.codigo }}
        
                          </span>
        
                        </li>
        
                        <li>
        
                          <span class="btn default btn-outline image-popup-vertical-fit" data-toggle="tooltip" title="Clave: {{ mejor.clave }}">
        
                            Clave: {{ mejor.clave }}
        
                          </span>
        
                        </li>
        
                      </ul>
        
                    </div>

                </div>


                <h6 class="pt-2" style="height: 45px; font-size: 12px;">{{mejor.descripcion}}</h6>

                <small *ngIf="mejor.descuento > 0">

                    <span class="badge badge-danger">-{{ (mejor.descuento * 100) }}%</span>

                </small>

                <br>

                <small class="text-muted" *ngIf="mejor.descuento > 0"><del>{{ mejor.preciooriginal| currency }}</del></small>

                <h4 class="font-weight-bold text-truper">

                    {{ mejor.precio | currency }}

                </h4>

                <button class="btn-cart" type="button" (click)="irA(mejor)">

                    <span class="text-uppercase">Comprar</span>

                </button>

            </div>

        </div>

    </div>

    <div class="col-12 py-3 centro" *ngIf="disabledSig">

      <button class="btn-cart" type="button" (click)="cambiar(13)">

        <span class="text-uppercase">Ver Mas</span>

      </button>

    </div>

  </div>

</div>
