<header>

    <div class="container">

        <div class="row pt-2 pb-2">

            <div class="col-lg-5 col-md-12 col-sm-12 col-12 info-nav">
    
                <ul class="list-inline" style="margin-bottom: 0px!important;">

                    <li class="list-inline-item">

                        <a class="nav-link dir-tel" style="font-size: 12px">

                            <i class="mdi mdi-map-marker-radius"></i> Prol. Constituyentes 1905-2

                        </a>

                    </li>

                    <li class="list-inline-item">

                        <a class="nav-link dir-tel" style="font-size: 12px">

                            <i class="mdi mdi-cellphone-iphone"></i> (01 442) 196 8555 / 196 6846

                        </a>

                    </li>

                </ul>
    
            </div>

            <div class="col-lg-3 col-md-12 col-sm-12 col-12 info-nav">
    
                <ul class="list-inline" style="margin-bottom: 0px!important;">

                    <li class="list-inline-item font-weight-bold" *ngIf="logeado">

                        <a routerLink="" class="nav-link" style="font-size: 12px; font-weight: 500;">

                            <i class="mdi mdi-account-outline"></i> Mi Cuenta

                        </a>

                    </li>

                    <li class="list-inline-item font-weight-bold" *ngIf="!logeado">

                        <a routerLink="/registro" class="nav-link" style="font-size: 12px; font-weight: 500;">

                            <i class="mdi mdi-human-greeting"></i> Registro

                        </a>

                    </li>

                    <li class="list-inline-item font-weight-bold" *ngIf="!logeado">

                        <a routerLink="/acceso" class="nav-link " style="font-size: 12px; font-weight: 500;">

                            <i class="mdi mdi-access-point"></i> Accesar

                        </a>

                    </li>

                    <li class="list-inline-item font-weight-bold" *ngIf="logeado">

                        <a routerLink="" class="nav-link" (click)="logout()" style="font-size: 12px; font-weight: 500;">

                            <i class="mdi mdi-logout"></i> Salir

                        </a>

                    </li>

                </ul>
    
            </div>

            <div class="col-lg-3 col-md-12 col-sm-12 col-12 info-nav">

                <ul class="list-inline float-right" style="margin-bottom: 0px!important;">

                    <li class="list-inline-item">

                        <div class="buscador">

                            <app-buscar (actualizaValor)="obtener($event)"></app-buscar>
            
                        </div>

                    </li>

                </ul>

            </div>

            <div class="col-lg-1 col-md-12 col-sm-12 col-12 info-nav">

                <ul class="list-inline float-right" style="margin-bottom: 0px!important;">

                    <li class="list-inline-item">

                        <a href="https://www.facebook.com/FerremayoristasOlvera/" class="link-red" style="padding: 0px!important; margin-right: 10px;" target="_blank">

                            <i class="mdi mdi-facebook-box"></i>

                        </a>

                    </li>

                    <li class="list-inline-item">

                        <a href="https://www.linkedin.com/" class="link-red" style="padding: 0px!important;" target="_blank">

                            <i class="mdi mdi-linkedin-box"></i>

                        </a>

                    </li>

                </ul>

            </div>

        </div>

    </div>

</header>

<header>

    <div class="container pb-4">

        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-12 logo_nav centro text-center" style="padding: 0px!important;">

                <img routerLink="/inicio" src="assets/images/logo-min.png" alt="Ferremayoristas Olvera" class="img-fluid dir-tel" width="85%">

            </div>

            <div class="col-lg-8 col-md-8 col-sm-12 navegador centro" style="padding: 0px!important;">
                
                <nav class="navbar navbar-expand-lg">
    
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        
                        <span class="mdi mdi-menu"></span>
        
                    </button>
                    
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
                        <ul class="navbar-nav m-auto text-center">
        
                            <li class="nav-item centro">
        
                                <a class="nav-link text-uppercase font-weight-bold" style="font-size: 11px;" routerLink="/inicio">Inicio</a>
        
                            </li>

                            <li class="nav-item centro">
        
                                <a class="nav-link text-uppercase font-weight-bold" style="font-size: 11px;" routerLink="/nosotros">Nosotros</a>
        
                            </li>

                            <li class="nav-item centro">
        
                                <a class="nav-link text-uppercase font-weight-bold" style="font-size: 11px;" routerLink="/cobertura">Cobertura</a>
        
                            </li>

                            <li class="nav-item centro">
        
                                <a class="nav-link text-uppercase font-weight-bold" style="font-size: 11px;" routerLink="/contacto">Contacto</a>
        
                            </li>

                            <li class="nav-item dropdown">
        
                                <a class="dropdown-toggle nav-link text-uppercase font-weight-bold" style="font-size: 11px;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Marcas
                                </a>
        
                                <div class="dropdown-menu marcas-lista" aria-labelledby="navbarDropdown">
        
                                    <a (click)="irMarca('Truper', 'truper')" class="pormarcas">
                                        
                                        <span class="pormarcas-span blinker">Catálogo Truper</span>
                                    
                                    </a>

                                    <a (click)="irMarca('Fmo', 'MARCAS')" class="pormarcas">
                                        
                                        <span class="pormarcas-span blinker">Catálogo Ferremayoristas</span>
                                    
                                    </a>

                                    <a (click)="irMarca('Virtual', 'MARCAS')" class="pormarcas">
                                        
                                        <span class="pormarcas-span blinker">Catálogo Virtual Mendoza</span>
                                    
                                    </a>
                                            
                                </div>
        
                            </li>
        
                        </ul>
        
                    </div>
        
                </nav>

            </div>

            <div class="col-lg-1 col-md-1 col-sm-12 centro" style="padding: 0px!important;">

                <ul class="list-inline" style="margin-bottom: 0px!important;">

                    <li class="list-inline-item font-weight-bold text-center">

                        <a routerLink="/carrito" class="link-cart" *ngIf="carrito">

                            <span style="position: relative;left: 12px;">

                                <small>{{ cantidad | number }} </small>
                                
                                <i class="mdi mdi-cart"></i>
                                
                            </span>

                        </a>

                        <span class="text-dark" *ngIf="!carrito">

                            <span class="text-dark">

                                <small class="text-danger">0 </small>

                                <i class="mdi mdi-cart-outline text-danger"></i>

                            </span>

                        </span>

                    </li>

                </ul>

            </div>

        </div>

    </div>

</header>
