<div class="row">

    <div class="col-lg-12 col-md-12 col-sm-12 pb-4">

        <h1>MIS COMPRAS</h1>

    </div>

    <div class="col-lg-3 col-md-6">

        <div class="card bg-info">

            <div class="card-body">

                <div class="flex-column">

                    <i class="mdi mdi-basket fa-2x text-white"></i>

                    <p class="text-white">Pedido</p>

                    <h3 class="text-white font-light">Tienes <span class="font-bold">#</span> pedido(s)<br> en espera.</h3>

                </div>

            </div>

        </div>

    </div>

    <div class="col-lg-3 col-md-6">

        <div class="card bg-primary">

            <div class="card-body">

                <div class="flex-column">

                    <i class="mdi mdi-basket-fill fa-2x text-white"></i>

                    <p class="text-white">Surtido</p>

                    <h3 class="text-white font-light">Hay <span class="font-bold">#</span> pedido<br> en proceso.</h3>

                </div>

            </div>

        </div>

    </div>

    <div class="col-lg-3 col-md-6">

        <div class="card bg-danger">

            <div class="card-body">

                <div class="flex-column">

                    <i class="mdi mdi-barcode-scan fa-2x text-white"></i>

                    <p class="text-white">Guía</p>

                    <h3 class="text-white font-light">Hay <span class="font-bold">#</span> pedido<br> empaquetándose.</h3>

                </div>

            </div>

        </div>

    </div>

    <div class="col-lg-3 col-md-6">

        <div class="card bg-inverse">

            <div class="card-body">

                <div class="flex-column">

                    <i class="mdi mdi-car-connected fa-2x text-white"></i>

                    <p class="text-white">Entrega</p>

                    <h3 class="text-white font-light">Hay <span class="font-bold">#</span> pedido<br> en ruta.</h3>

                </div>

            </div>

        </div>

    </div>

</div>

<div class="row pt-2">

    <div class="col-lg-12 col-md-12 col-sm-12">

        <h4>Información</h4>

    </div>

    <div class="col-lg-12 col-md-12 col-sm-12">

        <div class="table-responsive">

            <table class="table">

                <thead>

                    <tr>

                        <th>Pedido</th>

                        <th>Situación</th>

                    </tr>

                </thead>

                <tbody>

                    <tr>

                        <td>#</td>

                        <td>Situación actual del pedido.</td>

                    </tr>

                </tbody>

            </table>

        </div>

    </div>

</div>