<form>

    <div class="form-group">

        <span style="font-size: 12px;border-radius: 40px 0px 0px 40px; background: #2C3A47; color: white; padding: 6px 15px;margin-right: -1px;">Buscar</span>

        <!-- <input #input type="text" list="search" (keyup)="search(input.value)" class="form-control inputBuscar" style="border-radius: 0px 40px 40px 0px!important; color: rgb(12, 12, 12)" aria-label="Buscar en el contenido del sitio"> <a class="pl-2 srh-btn"></a> -->

        <!-- <select #selRes *ngIf="datos.length" multiple class="form-control selector-buscador" id="search" (change)="buscar(selRes.value)">

            <option *ngFor="let dato of datos" class="imagen-select" [ngStyle]="{'background':'url(' + dato.imagen + ')'}" [value]="dato.codigo">

                {{dato.descripcion}}

            </option>

        </select> -->

        <input #input type="search" (keyup.enter)="buscar(input.value)" class="form-control inputBuscar" style="border-radius: 0px 40px 40px 0px!important; color: rgb(12, 12, 12)"> <a class="pl-2 srh-btn"></a>

    </div>

</form>