<div class="container pt-4 pb-4 my-lg-5 devolucion">

    <div class="row">
  
      <div class="col 12">
  
        <h1 class="text-uppercase">Política de Devolución</h1>
  
      </div>
  
      <div class="col-12 pt-5">
  
        <div id="poldevolucion">

          <ul class="list-unstyled">

            <li>1. Procede todo material excepto por los siguientes puntos:
  
              <ul>
  
                <li>

                  <p>Este roto.</p>

                </li>

                <li>

                  <p>Este dañado.</p>

                </li>

                <li>

                  <p>Este abierto.</p>

                </li>

                <li>

                  <p>Este usado.</p>

                </li>

                <li>

                  <p>Este manipulado.</p>

                </li>

                <li>

                  <p>Este manipulado.</p>

                </li>

                <li>

                  <p>Estar etiquetado con precio el material.</p>

                </li>

                <li>

                  <p>No viene completo el lote de productos a granel.</p>

                </li>

                <li>

                  <p>Tener más de 30 días naturales despues de recibir el material.</p>
                
                </li>
  
              </ul>
  
            </li>

            <li>2. El pago por la penalización debe ser de contado.</li>

            <li class="mt-4">3. Devolución por folio:

              <ul>

                <li>Todo material regresado con folio de devolución lleva una penalización desde un 10 hasta un 20% sobre el valor del material.</li>

              </ul>

            </li>

            <li class="mt-4">4. Devolución por factura:

              <ul>

                <li>Procede todo material que se regrese al momento de entregar.</li>

                <li>En bonificaciones no hay devoluciones.</li>

              </ul>
              
            </li>

          </ul>
  
        </div>
  
      </div>
  
    </div>
  
  </div>
  
