<div class="container mt-5">

    <div class="alert alert-success mt-5 animated fadeIn pt-5 pb-5" role="start" *ngIf="encontrado.length === 0 && !errorBol">

        <h4 class="alert-heading">Buscando <b>{{ buscando }}</b></h4>

        <p>Espere mientras obtenemos los resultados</p>

        <div class="progress">

            <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>

        </div>

        <p class="mb-0 h3 pt-2">

            <i class="mdi mdi-glasses animated infinite pulse"></i>

        </p>

    </div>

    <div class="alert alert-danger mt-5 animated fadeIn pt-5 pb-5" role="start" *ngIf="errorBol && encontrado.length === 0">

        <h4 class="alert-heading">No se encontro <b>{{ buscando }}</b></h4>

        <p>No se pudo obtener ningún resultado a su busqueda, favor de intentar con otro termino.</p>

        <p class="mb-0 h3 pt-2">

            <i class="mdi mdi-ghost animated infinite pulse"></i> {{ msg }}

        </p>

    </div>

    <div class="row pt-3">

        <div class="col-lg-10 col-md-6 col-sm-12">

            <nav class="breadcrumb bg-transparent" *ngIf="encontrado.length > 0">

                <a class="breadcrumb-item" routerLink="/inicio">Inicio</a>

                <span class="breadcrumb-item active">Buscar: {{ buscando }}</span>

            </nav>

        </div>

        <div class="col-lg-2 col-md-6 col-sm-12" *ngIf="encontrado.length > 1">

            <div class="form-group">

                <select #select name="orden" class="form-control" (change)="ordernar(select.value)">

                    <option value="0">Ordenar por</option>

                    <option value="1">Mayor a menor</option>

                    <option value="2">Menor a mayor</option>

                </select>

            </div>

        </div>

    </div>

    <div class="row mas-vendidos pb-5" *ngIf="encontrado.length > 0">

        <div class="col-12 col-lg-3 col-md-6 col-sm-12 pt-4" *ngFor="let enc of encontrado">

            <div class="card">

                <div class="card-body text-center">

                    <img [src]="enc.imagen" class="img-fluig" width="200">

                    <h5 class="pt-2 pb-4 text-truncate">{{enc.descripcion}}</h5>

                    <div class="centro" style="height: 95px; min-height: 95px; max-height: 95px;">

                        <h6 class="text-muted" *ngIf="enc.descuento > 0">

                            <small>

                                <s>{{ enc.precioAumentado | currency }}</s>
                                
                            </small>

                        </h6>

                        <h4 class="font-weight-bold text-danger">

                            {{ enc.precio | currency }}

                        </h4>

                        <h3 *ngIf="enc.descuento > 0">

                            <span class="badge badge-inverse">{{ (enc.descuento * 100) }}% de Descuento</span>

                        </h3>

                    </div>

                    <h3>

                        <span class="badge badge-light">{{ enc.marca }}</span>

                    </h3>

                    <button class="btn-cart" type="button" (click)="irA(enc)">

                        <span>Comprar</span>

                    </button>

                </div>

            </div>

            <hr>

        </div>

    </div>

</div>