<div class="container mt-5">

    <div class="alert alert-success mt-5 animated fadeIn pt-5 pb-5" role="start" *ngIf="encontrado.length === 0 && !errorBol">

        <h4 class="alert-heading">Buscando <b>{{ buscando }}</b></h4>

        <p>Espere mientras obtenemos los resultados</p>

        <div class="progress">

            <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>

        </div>

        <p class="mb-0 h3 pt-2">

            <i class="mdi mdi-glasses animated infinite pulse"></i>

        </p>

    </div>

    <div class="alert alert-danger mt-5 animated fadeIn pt-5 pb-5" role="start" *ngIf="errorBol && encontrado.length === 0">

        <h4 class="alert-heading">No se encontro <b>{{ buscando }}</b></h4>

        <p>No se pudo obtener ningún resultado a su busqueda, favor de intentar con otro termino.</p>

        <p class="mb-0 h3 pt-2">

            <i class="mdi mdi-ghost animated infinite pulse"></i> {{ msg }}

        </p>

    </div>

    <div class="row pt-3">

        <div class="col-lg-10 col-md-6 col-sm-12">

            <nav class="breadcrumb bg-transparent" *ngIf="encontrado.length > 0">

                <a class="breadcrumb-item" routerLink="/inicio">Inicio</a>

                <span class="breadcrumb-item active">Buscar: {{ buscando }}</span>

            </nav>

        </div>

        <div class="col-lg-2 col-md-6 col-sm-12" *ngIf="encontrado.length > 1">

            <div class="form-group">

                <select #select name="orden" class="form-control" (change)="ordernar(select.value)">

                    <option value="0">Ordenar por</option>

                    <option value="1">Mayor a menor</option>

                    <option value="2">Menor a mayor</option>

                </select>

            </div>

        </div>

    </div>

    <div class="col-12 py-3" *ngIf="encontradoBol">

        <div class="d-flex justify-content-between">

            <div class="p-2 bd-highlight">

                <!-- <button type="button" class="btn btn-secondary" (click)="cambiar(-13)" [disabled]="disabledAnt">Anterior</button> -->

                <button class="btn-anterior" type="button" (click)="cambiar(-13)" [disabled]="disabledAnt">

                    <span class="text-uppercase">Anterior</span>

                </button>
                
            </div>

            <div class="p-2 bd-highlight">

                <button class="btn-cart" type="button" (click)="cambiar(13)" [disabled]="disabledSig">

                    <span class="text-uppercase">Siguiente</span>

                </button>

                <!-- <button type="button" class="btn btn-success" (click)="cambiar(13)" [disabled]="disabledSig">Siguiente</button> -->

            </div>

        </div>

    </div>

    <div class="row mas-vendidos pb-5 el-element-overlay" *ngIf="encontrado.length > 0">

        <div class="col-12 col-lg-3 col-md-6 col-sm-12 pt-2" *ngFor="let mejor of encontrado">

            <div class="card">
    
                <div class="el-card-item text-center">
    
                    <div class="el-card-avatar el-overlay-1 rounded-circle" style="max-height: 250px!important">
    
                        <img [src]="mejor.imagen" class="img-fluig" width="200">
    
                        <div class="el-overlay">
    
                            <ul class="el-info">
    
                                <li>
            
                                    <span class="btn default btn-outline image-popup-vertical-fit" data-toggle="tooltip" title="Código: {{ mejor.codigo }}">
                
                                    Código: {{ mejor.codigo }}
                
                                    </span>
                
                                </li>
                
                                <li>
                
                                    <span class="btn default btn-outline image-popup-vertical-fit" data-toggle="tooltip" title="Clave: {{ mejor.clave }}">
                
                                    Clave: {{ mejor.clave }}
                
                                    </span>
                
                                </li>
    
                            </ul>
    
                        </div>
    
                    </div>
    
    
                    <h6 class="pt-2" style="height: 45px; font-size: 12px;">{{mejor.descripcion}}</h6>
    
                    <small *ngIf="mejor.descuento > 0">
    
                        <span class="badge badge-danger">-{{ (mejor.descuento * 100) }}%</span>
    
                    </small>
    
                    <br>
    
                    <small class="text-muted" *ngIf="mejor.descuento > 0"><del>{{ mejor.preciooriginal| currency }}</del></small>
    
                    <h4 class="font-weight-bold text-truper">
    
                        {{ mejor.precio | currency }}
    
                    </h4>
    
                    <button class="btn-cart" type="button" (click)="irA(mejor)">
    
                        <span class="text-uppercase">Comprar</span>
    
                    </button>
    
                </div>
    
            </div>
    
        </div>

        <!-- <div class="col-12 col-lg-3 col-md-6 col-sm-12 pt-4 el-element-overlay" *ngFor="let enc of encontrado">

            <div class="card">

                <div class="el-card-item text-center">

                    <div class="el-card-avatar el-overlay-1 rounded-circle">

                        <img [src]="enc.imagen" class="img-fluig" width="200">
            
                        <div class="el-overlay">
            
                            <ul class="el-info">
            
                                <li>
                
                                    <span class="btn default btn-outline image-popup-vertical-fit" data-toggle="tooltip" title="Código: {{ enc.codigo }}">
                
                                    Código: {{ enc.codigo }}
                
                                    </span>
                
                                </li>
                
                                <li>
                
                                    <span class="btn default btn-outline image-popup-vertical-fit" data-toggle="tooltip" title="Clave: {{ enc.clave }}">
                
                                    Clave: {{ enc.clave }}
                
                                    </span>
                
                                </li>
            
                            </ul>
            
                        </div>
            
                    </div>

                    <h5 class="pt-2 pb-4 text-truncate">{{enc.descripcion}}</h5>

                    <div class="centro" style="height: 95px; min-height: 95px; max-height: 95px;">

                        <small *ngIf="enc.descuento > 0">

                            <span class="badge badge-danger">-{{ (enc.descuento * 100) }}%</span>
        
                        </small>
        
                        <br *ngIf="enc.descuento > 0">

                        <small class="text-muted" *ngIf="enc.descuento > 0">

                            <del>{{ enc.preciooriginal | currency }}</del>
                            
                        </small>

                        <h4 class="font-weight-bold text-danger">

                            {{ enc.precio | currency }}

                        </h4>

                    </div>

                    <button class="btn-cart" type="button" (click)="irA(enc)">

                        <span>Comprar</span>

                    </button>

                </div>

            </div>

            <hr>

        </div> -->

    </div>

    <div class="col-12 py-3" *ngIf="encontradoBol">

        <div class="d-flex justify-content-between">

            <div class="p-2 bd-highlight">

                <button class="btn-anterior" type="button" (click)="cambiar(-13)" [disabled]="disabledAnt">

                    <span class="text-uppercase">Anterior</span>

                </button>
                
            </div>

            <div class="p-2 bd-highlight">

                <button class="btn-cart" type="button" (click)="cambiar(13)" [disabled]="disabledSig">

                    <span class="text-uppercase">Siguiente</span>

                </button>

            </div>

        </div>

    </div>

</div>