<div class="container pt-4 pb-4 my-lg-5 garantia">

    <div class="row">
  
      <div class="col 12">
  
        <h1 class="text-uppercase">Política de Garantía</h1>
  
      </div>
  
      <div class="col-12 pt-5">
  
        <div id="polgarantia">
  
          <p>Todos los productos Truper estan fabricados bajo una estricta supervisión con estándares de calidad internacionales y estan garantizados contra defectos de fabricación y de mano de obra.</p>

          <p>Para conocer los procedimientos necesarios para hacer válidas nuestras garantías o para cualquier información adicional, comunícate con nosotros.</p>

          <div class="jumbotron text-center">

            <h2 class="display-4">Hola, podemos ayudarte!</h2>

            <p class="lead">Si tienes alguna duda o necesitas ayuda para una garantía, por favor marcanos a los siguientes teléfonos para ayudarte.</p>

            <p class="font-weight-bold display-6">(442) 196 8555</p>

            <hr style="width: 30%">

            <p class="font-weight-bold display-6">(442) 196 6846</p>

            <hr class="my-4">

            <p>Nuestra misión es atender tus dudas.</p>

          </div>

          <p>Es necesario recordar que la garantía procede siempre y cuando el producto sea reclamado por un defecto de fábrica real y no por un mal manejo o abuso de la herramienta. También se debe recordar que ninguna de nuestras máquinas eléctricas, neumáticas, podadoras, desbrozadoras, motosierras, gatos hidráulicos, polipastos y soldadoras se aceptan en devolución.</p>
  
        </div>
  
      </div>
  
    </div>
  
  </div>
  
