<div class="row mas-vendidos">

    <div class="col-12 col-lg-3 col-md-6 col-sm-12 pt-2" *ngFor="let mejor of mejores">

        <div class="card">

            <div class="card-body text-center">

                <img [src]="mejor.img" class="img-fluig" width="200">

                <h5 class="pt-2 pb-4">{{mejor.descripcion}}</h5>

                <h3>

                    <span class="badge badge-danger">{{ (mejor.descuento * 100) }}% de Descuento</span>

                </h3>

                <h6 class="text-muted">

                    <small>

                        <s>{{ mejor.precioAumentado | currency }}</s>
                        
                    </small>

                </h6>

                <h4 class="font-weight-bold text-danger">

                    {{ mejor.precio | currency }}

                </h4>

                <h3>

                    <span class="badge badge-pill badge-dark">{{ mejor.marca }}</span>

                </h3>

                <button class="btn btn-linkedin" type="button" (click)="irA(mejor)">

                    Comprar

                </button>

            </div>

        </div>

    </div>

</div>