<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Tienda Oficial de Ferremayoristas Olvera Mx</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">

    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css?family=Anton|Dosis|Montserrat+Alternates|Gothic+A1|Playfair+Display|Abril+Fatface|Play|Blinker:300,400&display=swap" rel="stylesheet">

    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <!-- Bootstrap Core CSS -->
    <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- You can change the theme colors from here -->
    <link id="tema" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="card-no-border">
    <app-root></app-root>

    <footer class="nav-bottom-oscuro-dark" style="padding:  3em 0;">
        
        <div class="container">

            <div class="row footer-grids">
    
                <div class="col-lg-3 col-md-3 col-sm-6">
    
                    <h3 style="font-size: 1em; color: #fff; margin: 0 0 1em; position: relative; padding-bottom: .5em;">SOPORTE AL CLIENTE</h3>
    
                    <ul class="list-unstyled text-white">
    
                        <li class="py-2">
                            
                            <a class="nav-footer" routerLink="/acceso" *ngIf="!conectado">Mis pedidos</a>
                            <a class="nav-footer" routerLink="/dist" *ngIf="conectado">Mis pedidos</a>
                        
                        </li>
    
                        <li class="py-2">
                            
                            <a class="nav-footer" routerLink="/contacto">Contacto</a>
                        
                        </li>
    
                    </ul>
    
                </div>
    
                <div class="col-lg-3 col-md-3 col-sm-6">
    
                    <h3 style="font-size: 1em; color: #fff; margin: 0 0 1em; position: relative; padding-bottom: .5em;">POLÍTICAS</h3>
    
                    <ul class="list-unstyled text-white">
    
                        <li class="py-2">
                            
                            <a class="nav-footer" routerLink="/pol-venta">Políticas de venta</a>
                        
                        </li>
    
                        <li class="py-2">
                            
                            <a class="nav-footer" routerLink="/pol-devolucion">Políticas de devolución</a>
                        
                        </li>
    
                        <li class="py-2">
                            
                            <a class="nav-footer" href="http://www.ferremayoristas.com.mx/privacidad" target="_blank">Aviso de privacidad</a>
                        
                        </li>
    
                        <li class="py-2">
                            
                            <a class="nav-footer" routerLink="/pol-garantia">Políticas de garantía</a>
                                
                        </li>
    
                    </ul>
    
                </div>
    
                <div class="col-lg-3 col-md-3 col-sm-6">
    
                    <h3 style="font-size: 1em; color: #fff; margin: 0 0 1em; position: relative; padding-bottom: .5em;">FERREMAYORISTAS</h3>
    
                    <ul class="list-unstyled text-white">
    
                        <li class="py-2">
                            
                            <a class="nav-footer" routerLink="/nosotros">Acerca de nosotros</a>
                        
                        </li>
    
                        <li class="py-2">
                            
                            <a class="nav-footer" routerLink="/cobertura">Nuestra Cobertura</a>
                        
                        </li>
    
                        <li class="py-2">
                            
                            <a class="nav-footer" href="https://www.truper.com/catvigente/" target="_blank">Cátalogo Truper</a>
                        
                        </li>
    
                        <li class="py-2">
                            
                            <a class="nav-footer" routerLink="/bolsa-trabajo">Bolsa de trabajo</a>
                        
                        </li>
    
                        <li class="py-2">
                            
                            <a class="nav-footer" routerLink="/ofertas">Promociones del mes</a>
    
                        </li>
    
                    </ul>
    
                </div>
    
                <div class="col-lg-3 col-md-3 col-sm-6">
    
                    <h3 style="font-size: 1em; color: #fff; margin: 0 0 1em; position: relative; padding-bottom: .5em;">FORMAS DE PAGO</h3>
    
                    <ul class="list-inline text-white">
    
                        <li class="list-inline-item">
    
                            <i class="fab fa-cc-visa mx-2" style="font-size: 3em; color: #94b3c3"></i>
    
                        </li>
    
                        <li class="list-inline-item">
    
                            <i class="fab fa-cc-mastercard mx-2" style="font-size: 3em; color: #94b3c3"></i>
    
                        </li>
    
                        <li class="list-inline-item">
    
                            <span id="siteseal"><script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=DWDk42tDmGBCdGl4IJpKyK6SIEXjkXjJG54IqYqg2CBJAxOGh6yBIcj2SPrB"></script></span>
    
                        </li>
    
                    </ul>
    
                </div>
    
            </div>
    
        </div>

    </footer>

    <div style="background: #2e393f; font-size: 13px;">

        <div class="container text-white text-center p-3">
    
            <small>2019 &reg;Ferremayoristas Olvera S.A. de C.V. Todos los Derechos Reservados</small>
    
        </div>
    
    </div>

    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="assets/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap tether Core JavaScript -->
    <script src="assets/plugins/bootstrap/js/popper.min.js"></script>

    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="assets/js/perfect-scrollbar.jquery.min.js"></script>

    <!--Wave Effects -->
    <script src="assets/js/waves.js"></script>

    <!--Menu sidebar -->
    <script src="assets/js/sidebarmenu.js"></script>

    <!--stickey kit -->
    <script src="assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>

    <script src="assets/plugins/sparkline/jquery.sparkline.min.js"></script>

    <!-- xepOnline -->
    <script src="assets/js/xepOnline.jqPlugin.js"></script>

    <!--Custom JavaScript -->
    <script src="assets/js/custom.js"></script>

</body>

</html>