/* You can add global styles to this file, and also import other style files */

html,
body {
    font-family: 'Dosis', 'sans-serif'!important;
}

.text-grey,
.text-claro {
    color: #6c757d!important;
}

.text-grey:hover {
    color: #232324!important;
}

.centro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.centrar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column
}

.centrar-fas {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.centrar-fas span:hover {
    background: #3e3e3e!important;
    color: orangered!important;
}

header .buscador {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 12px;
}

header .submenu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .submenu ul {
    margin-bottom: 0px!important;
}

.container a.navbar-brand {
    font-family: 'Anton', 'sans-serif'!important;
    font-size: 2em!important;
}

.cuerpo {
    background: #fff;
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.buscador form {
    display: flex;
}

.buscador form .form-group {
    margin-bottom: 0px!important;
}

.buscador form .inputBuscar {
    border-radius: 0px!important;
    width: 250px!important;
    height: 25px!important;
    padding: 0px 5px 0px 5px!important;
    min-height: 25px!important;
}

.buscador form button {
    border-radius: 0px!important;
    height: 25px;
    padding: 0px 5px 0px 5px;
}

.nuevo-producto .card-body,
.promocion-producto .card-body,
.mas-vendidos .card-body {
    padding: 0px!important;
}

.mas-vendidos .card a {
    color: white!important;
}

.registro .form-check-label a {
    color: #3e3e3e!important;
    font-size: 1.3rem!important;
}

.registro .form-check-label a {
    text-decoration: none;
}

.cobertura-conteo {
    /* background-image: url('https://picsum.photos/g/1000/400/?random');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 1500px;
    border-radius: 5px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.cobertura-conteo .dato {
    /* background: rgba(0, 0, 0, 0.898);
    border-radius: 5px; */
    max-width: 200px!important;
}

.marcas {
    height: 300px;
}

footer {
    margin-bottom: -25px;
}

footer .redes ul li {
    font-size: 1.5em;
}

footer .redes ul li a {
    color: #6c757d!important;
}

footer .redes ul li a:hover {
    color: #a0293d!important;
}

.mas-vendidos .card a:hover {
    color: black!important;
}

.iconos-footer {
    padding: 0px!important;
    border-radius: 20px;
    background: #ef5350 !important;
    border-top: none!important;
}

.desc {
    padding: 10px 6px;
    border-radius: 100%;
    background: #ef5350;
    color: white;
}

.desc2 {
    padding: 12px 6px;
    position: relative;
    font-size: 1.5rem;
    top: -200px;
    left: 100px;
    border-radius: 100%;
    background: #e43d0a;
    color: white;
}

.desc3 {
    padding: 12px 6px;
    position: relative;
    font-size: 1.5rem;
    top: -70px;
    left: -20px;
    border-radius: 100%;
    background: #e43d0a;
    color: white;
}

.banner {
    background-image: url('assets/images/background/hardware.jpg');
    background-position: center;
    border-radius: 10px;
    height: 200px;
    width: 100%;
}

.banner-register {
    background-image: url('assets/images/background/carretillas.jpg');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 200px;
    width: 100%;
}

.tabla-pedidos {
    height: 300px;
}