/* You can add global styles to this file, and also import other style files */

html,
body {
    /* font-family: 'Dosis', 'sans-serif'!important; */
    /* font-family: 'Montserrat Alternates', 'serif'!important; */
    font-family: 'Gothic A1', 'sans-serif'!important;
}

/* h1, h2, h3, h4, h5, p, span {
    font-family: 'Montserrat Alternates', 'serif'!important;
} */

.blinker {
    font-family: 'Blinker', sans-serif!important;
    color: rgb(129, 129, 129)!important;
}

.text-grey,
.text-claro {
    color: #6c757d!important;
}

.text-grey:hover {
    color: #232324!important;
}

.centro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.centrar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column
}

.centrar-fas {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.centrar-fas span:hover {
    background: #3e3e3e!important;
    color: orangered!important;
}

header .buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
}

header .submenu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .submenu ul {
    margin-bottom: 0px!important;
}

.container a.navbar-brand {
    /* font-family: 'Anton', 'sans-serif'!important; */
    /* font-family: 'Montserrat Alternates', 'serif'!important; */
    /* font-family: 'Gothic A1', 'serif'!important; */
    font-size: 2em!important;
}

.cuerpo {
    background: #fff;
    padding-left: 0px!important;
    padding-right: 0px!important;
    margin-left: 0px!important;
    margin-right: 0px!important;
}

.buscador form {
    display: flex;
}

.buscador form .form-group {
    margin-bottom: 0px!important;
}

.buscador form .inputBuscar {
    border-radius: 0px!important;
    width: 150px!important;
    height: 24px!important;
    padding: 0px 5px 0px 5px!important;
    min-height: 15px!important;
    position: relative;
    top: 1px;
}

.buscador form button {
    border-radius: 0px!important;
    height: 25px;
    padding: 0px 5px 0px 5px;
}

.nuevo-producto .card-body,
.promocion-producto .card-body,
.mas-vendidos .card-body {
    padding: 0px!important;
}

.mas-vendidos .card a {
    color: white!important;
}

.registro .form-check-label a {
    color: #3e3e3e!important;
    font-size: 1.3rem!important;
}

.registro .form-check-label a {
    text-decoration: none;
}

.cobertura-conteo {
    /* background-image: url('https://picsum.photos/g/1000/400/?random');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 1500px;
    border-radius: 5px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.cobertura-conteo .dato {
    /* background: rgba(0, 0, 0, 0.898);
    border-radius: 5px; */
    max-width: 300px!important;
}

.marcas {
    height: 300px;
}

ul.list-inline li {
    padding: 0px!important;
}

footer {
    margin-bottom: -25px;
    /* position: absolute;
    bottom: 0; */
}

footer .redes ul li {
    font-size: 1.5em;
}

footer .redes ul li a {
    color: #6c757d!important;
}

footer .redes ul li a:hover {
    color: #a0293d!important;
}

.mas-vendidos .card a:hover {
    color: black!important;
}

.iconos-footer {
    padding: 0px!important;
    border-radius: 20px;
    background: #ef5350 !important;
    border-top: none!important;
}

.desc {
    padding: 10px 6px;
    border-radius: 100%;
    background: #ef5350;
    color: white;
}

.desc2 {
    padding: 12px 6px;
    position: relative;
    font-size: 1.5rem;
    top: -200px;
    left: 100px;
    border-radius: 100%;
    background: #e43d0a;
    color: white;
}

.desc3 {
    padding: 12px 6px;
    position: relative;
    font-size: 1.5rem;
    top: -70px;
    left: -20px;
    border-radius: 100%;
    background: #e43d0a;
    color: white;
}

.banner {
    background-image: url('assets/images/background/hardware.jpg');
    background-position: center;
    border-radius: 10px;
    height: 200px;
    width: 100%;
}

.banner-register {
    background-image: url('assets/images/background/carretillas.jpg');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 200px;
    width: 100%;
}

.barra {
    width: 100%;
    height: 20px;
    background: #B71C1C;
}

.tabla-pedidos {
    height: 300px;
}

.bg-black {
    background: #000000;
    color: white;
}

.text-black {
    color: white!important;
}

.text-truper {
    color: #ff6600!important;
}

.text-blanco:hover {
    /* color: rgb(94, 63, 63)!important; */
    color: #D10024!important;
}

a.link-red i {
    font-size: 15px;
}

nav a.nav-link, ul.list-inline li a.nav-link, a.link-red {
    /* color: #B71C1C!important; */
    /* color: white!important; */
    color: rgb(129, 129, 129)!important;
}

nav a.nav-link:hover, ul.list-inline li a.nav-link:hover {
    /* color: black!important; */
    /* color: #D10024!important; */
    background: #ff6600!important;
    color: #fff!important;
}

a.link-red:hover {
    color: #ff6600!important;
}

a.link-cart {
    color: #ff6600!important;
}

a.link-cart:hover {
    color: rgb(129, 129, 129)!important;
}

.paginas nav ul li a {
    color: white!important;
}

.promotruper_barra {
    margin-top: -6px;
    position: relative;
    overflow: hidden;
    height: 250px!important;
    /* background-image: url('assets/images/banners/marcas-2.png');
    background-repeat: no-repeat;
    background-position: left center; */
}

.menu-principal {
    position: absolute;
    z-index: 99; width: 100%;
    background: rgba(61, 61, 61, 0.4)!important;
}

#video {
    height: 80vh!important;
}

.texto-video {
    bottom: 200px!important;
}

/* .promotruper_barra video {
    margin-bottom: -165.69px!important;
} */

.promotruper_barra .textoBanner {
    position: absolute;
}

.promotruper_barra .textoDer {
    top: 30%;
    right: 50px;
    text-align: right!important;
}

.text-blanco {
    color: white!important;
}

.nav-top-oscuro {
    /* background: #1E1F29!important; */
    /* background: #2C3A47!important; */
    background: #fff!important;
}

.nav-top-oscuro-dark {
    /* background: #15161D!important; */
    /* background: #2C3A47!important; */
    background: #fff!important;
    border-bottom: 4px solid #D10024;
}

.nav-bottom-oscuro-dark {
    /* background: #15161D!important; */
    /* background: #dcdde1!important; */
    /* background: #2E2E2E!important; */
    background: #40515b!important;
    /* border-top: 4px solid #D10024; */
}

.navegar-link {
    display: block;
    font-weight: 500;
    padding: .5rem 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
    /* color: #15161D!important; */
    color: white!important;
}

.navegar-link:hover {
    color: #D10024!important;
    /* background: #68676754!important; */
}

.badge-rojo-fmo {
    background: #D10024!important;
    color: white;
    border-radius: 100%;
    padding: 2px 6px;
    position: relative;
    top: -20px;
    left: -8px;
}

.badge-fmo {
    background: #D10024!important;
}

.cuadro-princ {
    cursor: pointer;
}

.dir-tel {
    cursor: pointer;
}

.cuadro-princ:hover {
    filter: drop-shadow(5px 5px 10px #444);
}

.fondo-nosotros {
    background-image: url('assets/images/background/fondo_3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 500px;
}

.fondo-cobertura {
    /* background-image: url('assets/images/background/fondo_2.jpg'); */
    background-image: url('assets/images/background/fondo_4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 500px;
}

.marcas-lista {
    width: 250px!important;
    max-width: 250px!important;
}

.dividir-columnas {
    height: 530px!important;
    max-height: 530px!important;
    max-width: 900px!important;
    width: 900px;
    left: -450px!important;
}

.dividir-columnas ul li {
    float: left;
    width: 20%;
    list-style: none;
}

.pormarcas {
    color: black!important;
    font-weight: 700;
    cursor: pointer!important;
    padding-right: .5rem;
    padding-left: .5rem;
    display: block;
    padding: .5rem 1rem;
}

.pormarcas-span {
    padding: 10px;
    border-radius: 10%;
}

.pormarcasli {
    float: left;
    width: 20%;
}

.pormarcasli:hover, .pormarcas:hover {
    color: #B71C1C!important;
}

/* COLORES MARCAS TRUPER */
.truper {
    color: #000000!important;
}

.truper:hover {
    color: #fff!important;
    background: #f86300!important;
}

.fiero {
    color: #be0047!important;
}

.fiero:hover {
    color: #fff!important;
    background: #be0047!important;
}

.volteck {
    color: #060e9f!important;
}

.volteck:hover {
    color: #fff!important;
    background: #060e9f!important;
}

.foset {
    color: #006db3!important;
}

.foset:hover {
    color: #fff!important;
    background: #006db3!important;
}

.hermex {
    color: #bf0e32!important;
}

.hermex:hover {
    color: #fff!important;
    background: #bf0e32!important;
}

.klintek {
    color: #66aca0!important;
}

.klintek:hover {
    color: #fff!important;
    background: #66aca0!important;
}

.pretul {
    color: #000000!important;
}

.pretul:hover {
    color: #fcc325!important;
    background: #000000!important;
}

.ultracraft {
    color: #00407d!important;
}

.ultracraft:hover {
    color: #fff!important;
    background: #00407d!important;
}

/* COLORES MARCAS FMO */
.akatex {
    color: #ffd11f!important;
}

.akatex:hover {
    color: #000!important;
    background: #ffd11f!important;
}

.brasso {
    color: #fe5b29!important;
}

.brasso:hover {
    color: #fff!important;
    background: #fe5b29!important;
}

.cazafacil {
    color: #f47735!important;
}

.cazafacil:hover {
    color: #fff!important;
    background: #f47735!important;
}

.cytsa {
    color: #e02d33!important;
}

.cytsa:hover {
    color: #fff!important;
    background: #e02d33!important;
}

.devcon {
    color: #ef3e2c!important;
}

.devcon:hover {
    color: #000!important;
    background: #ef3e2c!important;
}

.dixon {
    color: #00ad5b!important;
}

.dixon:hover {
    color: #f5e901!important;
    background: #00ad5b!important;
}

.easy-off {
    color: #d2be00!important;
}

.easy-off:hover {
    color: #d80202!important;
    background: #d2be00!important;
}

.el-oso {
    color: #ef383d!important;
}

.el-oso:hover {
    color: #fff!important;
    background: #ef383d!important;
}

.fester {
    color: #e10021!important;
}

.fester:hover {
    color: #fff!important;
    background: #e10021!important;
}

.flamineta {
    color: #e92026!important;
}

.flamineta:hover {
    color: #fff!important;
    background: #054686!important;
}

.fmo {
    color: #ff0000!important;
}

.fmo:hover {
    color: #fff!important;
    background: #ff0000!important;
}

.h24 {
    color: #59513c!important;
}

.h24:hover {
    color: #f9f402!important;
    background: #59513c!important;
}

.ipesa {
    color: #d60813!important;
}

.ipesa:hover {
    color: #fff!important;
    background: #d60813!important;
}

.kola-loka {
    color: #f4352c!important;
}

.kola-loka:hover {
    color: #fff!important;
    background: #f4352c!important;
}

.little-trees {
    color: #00ab3c!important;
}

.little-trees:hover {
    color: #fff!important;
    background: #e60c26!important;
}

.marvil {
    color: #050daa!important;
}

.marvil:hover {
    color: #f8f111!important;
    background: #050daa!important;
}

.mendoza {
    color: #c04133!important;
}

.mendoza:hover {
    color: #fff!important;
    background: #c04133!important;
}

.mustad {
    color: #3847d4!important;
}

.mustad:hover {
    color: #fff!important;
    background: #3847d4!important;
}

.nacobre {
    color: #b85e21!important;
}

.nacobre:hover {
    color: #fff!important;
    background: #b85e21!important;
}

.oster {
    color: #08529c!important;
}

.oster:hover {
    color: #fff!important;
    background: #08529c!important;
}

.pennsylvania {
    color: #005ba8!important;
}

.pennsylvania:hover {
    color: #fff!important;
    background: #005ba8!important;
}

.permatex {
    color: #ef8027!important;
}

.permatex:hover {
    color: #fff!important;
    background: #005aa6!important;
}

.presto {
    color: #e5393b!important;
}

.presto:hover {
    color: #fff!important;
    background: #e5393b!important;
}

.prisa {
    color: #0072bc!important;
}

.prisa:hover {
    color: #fff!important;
    background: #0072bc!important;
}

.raid {
    color: #231d1f!important;
}

.raid:hover {
    color: #f8e902!important;
    background: #231d1f!important;
}

.ratimor {
    color: #a90101!important;
}

.ratimor:hover {
    color: #fff!important;
    background: #a90101!important;
}

.resanacreto {
    color: #0a0905!important;
}

.resanacreto:hover {
    color: #fff000!important;
    background: #0a0905!important;
}

.resistol {
    color: #014390!important;
}

.resistol:hover {
    color: #fff!important;
    background: #e42219!important;
}

.rosan {
    color: #02a0ff!important;
}

.rosan:hover {
    color: #fff!important;
    background: #02a0ff!important;
}

.rotoplas {
    color: #231f20!important;
}

.rotoplas:hover {
    color: #00aeef!important;
    background: #231f20!important;
}

.sc-johnson {
    color: #da2526!important;
}

.sc-johnson:hover {
    color: #fff!important;
    background: #000004!important;
}

.siemens {
    color: #009999!important;
}

.siemens:hover {
    color: #fff!important;
    background: #009999!important;
}

.tendal {
    color: #100062!important;
}

.tendal:hover {
    color: #fff!important;
    background: #100062!important;
}

.turtlewax {
    color: #c61d22!important;
}

.turtlewax:hover {
    color: #fff!important;
    background: #018445!important;
}

.vermar {
    color: #009de2!important;
}

.vermar:hover {
    color: #fff!important;
    background: #009de2!important;
}

.windex {
    color: #e32526!important;
}

.windex:hover {
    color: #fff!important;
    background: #e32526!important;
}

/* DISEÑO DE PROMOTRUPER BOTON */
.disenoPromo {
    color: #3f515a!important;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.disenoTruper {
    color: #f26921!important;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.oferta-1 {
    background-image: url('assets/images/background/llaves.jpg');
    height: 220px;
    background-repeat: no-repeat;
    background-position: 40% 41%;
    border: 2px solid #fff;
}

.oferta-1 h3, .oferta-2 h3, .oferta-3 h3 {
    box-shadow: 2px 2px 2px #000004;
    padding: 1.5rem;
    border-radius: 5px;
    background: rgba(218, 14, 14, 0.4);
}

.oferta-2 {
    background-image: url('assets/images/background/fondo_1.jpg');
    height: 220px;
    background-repeat: no-repeat;
    background-position: 80% 46%;
    border: 2px solid #fff;
}

.oferta-3 {
    background-image: url('assets/images/background/carretillas.jpg');
    height: 220px;
    background-repeat: no-repeat;
    background-position: 40% 40%;
    border: 2px solid #fff;
}

@keyframes acercar1 {
    to {
        background-size: 300%;
    }
}

@keyframes acercar2 {
    to {
        background-size: 200%;
    }
}

@keyframes acercar3 {
    to {
        background-size: 100%;
    }
}

.oferta-3:hover {
    animation-name: acercar1;
    animation-duration: 1s;
    animation-timing-function: linear;
    background-size: 300%;
}

.oferta-2:hover {
    animation-name: acercar2;
    animation-duration: 1s;
    animation-timing-function: linear;
    background-size: 200%;
}

.oferta-1:hover {
    animation-name: acercar3;
    animation-duration: 1s;
    animation-timing-function: linear;
    background-size: 100%;
}

.font1 {
    font-family: 'Playfair Display', serif;
}

.font2 {
    font-family: 'Abril Fatface', cursive;
}

.font3 {
    font-family: 'Play', sans-serif;
}

.efectoGris {
    filter: grayscale(100%);
    opacity: .5;
    cursor: pointer;
}

.efectoGris:hover {
    filter: grayscale(0%);
    opacity: 1;
}

.quitarEfectoGris {
    filter: grayscale(0%);
    opacity: 1;
}

.bg-gris {
    background: #f8f8f8;
}

.fuente-medio-bold {
    font-weight: bold;
}

.card-gris {
    padding: .5rem 1.5rem;
    color: #b0b0b0;
    font-size: 10px;
}

.card-gris p {
    margin-bottom: 0px!important;
}

.text-truper {
    color: #FF6600;
}

.btn-cart {
    transform: skewX(-30deg);
    background-color: #ff6600;
    border: none;
    color: #fff;
    white-space: normal;
    padding: .5rem;
    width: 100px;
    cursor: pointer;
}

.btn-cart:hover {
    box-shadow: 2px 2px 2px #000004;
}

.btn-cart:disabled {
    color: #3f515a!important;
    box-shadow: none;
}

.btn-cart span {
    transform: skewX(30deg)!important;
    display: block;
    font-size: 12px;
}

.btn-anterior {
    transform: skewX(-30deg);
    background-color: #b1b6bb;
    border: none;
    color: #fff;
    white-space: normal;
    padding: .5rem;
    width: 100px;
    cursor: pointer;
}

.btn-anterior:hover {
    box-shadow: 2px 2px 2px #000004;
}

.btn-anterior:disabled {
    color: #3f515a!important;
    box-shadow: none!important;
}

.btn-anterior span {
    transform: skewX(30deg)!important;
    display: block;
    font-size: 12px;
}

.btn-avance {
    transform: skewX(-30deg);
    background-color: #ff6600;
    border: none;
    color: #fff;
    white-space: normal;
    padding: .5rem;
    width: 500px;
    margin-left: 400px;
}

.footer-grids h3:before {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 30%;
    height: 1px;
    background: #828282;
    content: '';
}

.footer-grids ul li {
    font-size: 12px;
}

.nav-footer {
    color: white;
}

.nav-footer:hover {
    color: #ff6600;
}

.factura h1::before, .pol-venta h1::before, .devolucion h1::before, .garantia h1::before, .contacto h1::before {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 40%;
    height: 1px;
    background: #828282;
    content: '';
}

.imagen-select {
    background-repeat: no-repeat!important;
    background-position: center left!important;
    background-size: 60px!important;
    padding: 25px 80px 25px 10px!important;
    margin: 7px!important;
    padding-left: 80px!important;
}

.selector-buscador {
    top: 40px;
    z-index: 20;
    position: fixed;
    left: 100vh;
    width: 500px!important;
    height: 200px!important;
    color: black;
    background: white!important;
    appearance: listitem;
    -moz-appearance: listitem;
    -webkit-appearance: listitem;
}

.ver-option {
    display: none;
}

/*******************
User card page
******************/

.el-element-overlay .white-box {
    padding: 0px;
}

.el-element-overlay .el-card-item {
    position: relative;
    padding-bottom: 25px;
}

.el-element-overlay .el-card-item .el-card-avatar {
    margin-bottom: 15px;
}

.el-element-overlay .el-card-item .el-card-content {
    text-align: center;
}

.el-element-overlay .el-card-item .el-card-content h3 {
    margin: 0px;
}

.el-element-overlay .el-card-item .el-card-content a {
    color: #67757c;
}

.el-element-overlay .el-card-item .el-card-content a:hover {
    color: #ff6600;
}

.el-element-overlay .el-card-item .el-overlay-1 {
    max-height: 350px;
    width: 100%;
    height: 10%;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.el-element-overlay .el-card-item .el-overlay-1 img {
    /*display: block;*/
    position: relative;
    -webkit-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear;
    width: 100%;
    height: auto;
}

.el-element-overlay .el-card-item .el-overlay-1:hover img {
    -ms-transform: scale(1.2) translateZ(0);
    -webkit-transform: scale(1.2) translateZ(0);
    /* transform: scale(1.2) translateZ(0); */
}

.el-element-overlay .el-card-item .el-overlay-1 .el-info {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    color: #ffffff;
    background-color: transparent;
    filter: alpha(opacity=0);
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    padding: 0;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%) translateZ(0);
    -webkit-transform: translateY(-50%) translateZ(0);
    -ms-transform: translateY(-50%) translateZ(0);
}

.el-element-overlay .el-card-item .el-overlay-1 .el-info>li {
    list-style: none;
    display: inline-block;
    margin: 0 3px;
}

.el-element-overlay .el-card-item .el-overlay-1 .el-info>li a {
    border-color: #ffffff;
    color: #ffffff;
    padding: 12px 15px 10px;
}

.el-element-overlay .el-card-item .el-overlay-1 .el-info>li span {
    font-size: 10px;
    border-color: #ffffff;
    color: #ffffff;
    padding: 12px 15px 10px;
}

.el-element-overlay .el-card-item .el-overlay-1 .el-info>li a:hover {
    background: #ff6600;
    color: #fff!important;
    border-color: #ff6600;
}

.el-element-overlay .el-card-item .el-overlay-1 .el-info>li span:hover {
    background: #ff6600;
    color: #fff;
    border-color: #ff6600;
}

.el-element-overlay .el-card-item .el-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.el-element-overlay .el-card-item .el-overlay-1:hover .el-overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.el-element-overlay .el-card-item .el-overlay-1 .scrl-dwn {
    top: -100%;
}

.el-element-overlay .el-card-item .el-overlay-1 .scrl-up {
    top: 100%;
    height: 0px;
}

.el-element-overlay .el-card-item .el-overlay-1:hover .scrl-dwn {
    top: 0px;
}

.el-element-overlay .el-card-item .el-overlay-1:hover .scrl-up {
    top: 0px;
    height: 100%;
}

.table td {
    vertical-align: inherit!important;
}

agm-map {
    height: 650px;
    max-height: 650px;
}

.ver-mapa agm-map {
    height: 100%;
    max-height: 100%;
}

.bg-primary {
    background: #67757c!important;
    color: #fff!important;
}

.fijar-thead thead, .fijar-thead tbody { display: block; }

.fijar-thead tbody {
    height: 300px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
    border: 1px solid black;
}

.tipo-cursor {
    cursor: pointer;
}

.text-break {
    overflow-wrap: break-word;
    word-break: break-word;
}

ol.carousel-indicators li {
    background-color: #ff6600!important;
}

/**
 * ESCRITORIO GRANDE
 */

@media(min-width: 1450px) {
    /* .cuadro-princ span {
        left: -60px!important;
        font-size: 4em!important;
        bottom: -80px!important;
    } */
}

@media(max-width: 1440px) and (min-width: 1200px) {
    .cuadro-princ span {
        left: -70px!important;
        font-size: 5em!important;
        bottom: -120px!important;
    }
    .nav-top-oscuro .row, app-inicio .row {
        margin-right: 0px!important;
        margin-left: 0px!important;
    }
    .texto-video {
        bottom: 120px!important;
    }
    .texto-video h1 {
        font-size: 5rem!important;
    }
    .btn-avance {
        margin-left: 200px!important;
    }
    #search {
        left: 90vh!important;
        top: 40px!important;
    }
}


/**
 * ESCRITORIO MEDIANO O TABLET HORIZONTAL
 */

@media(max-width: 1199px) and (min-width: 992px) {
    .cuadro-princ span {
        left: -50px!important;
        font-size: 4em!important;
        bottom: -90px!important;
    }
    .nav-top-oscuro .row, app-inicio .row {
        margin-right: 0px!important;
        margin-left: 0px!important;
    }
    #video {
        height: auto!important;
    }
    .texto-video {
        bottom: 120px!important;
    }
    .texto-video h1 {
        font-size: 5rem!important;
    }

    .dividir-columnas {
        left: -550px!important;
    }

    .btn-avance {
        margin-left: 200px!important;
    }
}


/**
 * ESCRITORIO PEQUEÑO O TABLET VERTICAL
 */

@media(max-width: 991px) and (min-width: 768px) {
    .cuadro-princ span {
        left: -40px!important;
        font-size: 2em!important;
        bottom: -50px!important;
    }
    .nav-top-oscuro .row, app-inicio .row {
        margin-right: 0px!important;
        margin-left: 0px!important;
    }
    .menu-principal {
        position: initial;
        background: #dcdde1!important;
        border-top: 1px solid #dcdde1;
    }
    #video {
        height: auto!important;
    }
    .texto-video {
        bottom: 100px!important;
    }
    .texto-video h1 {
        font-size: 3rem!important;
    }

    .dividir-columnas {
        height: 850px!important;
        max-height: 350px!important;
        max-width: 600px!important;
        width: 600px;
        left: -450px!important;
    }
    
    .dividir-columnas ul li {
        float: left;
        width: 20%;
        list-style: none;
    }

    .info-nav {
        text-align: center!important;
    }

    .info-nav .float-right {
        float: none!important;
    }

    .selector-buscador {
        top: 40px!important;
        left: 40px!important;
        width: 90%!important;
    }
}


/**
 * DISPOSITIVOS MOVILES
 */

@media(max-width: 767px) {
    /***/
    .redes {
        text-align: center!important;
    }
    .submenu {
        justify-content: center!important;
    }
    nav {
        text-align: center!important;
        justify-content: center!important;
    }
    .mas-vendidos {
        margin-left: 0px!important;
        margin-right: 0px!important;
    }
    .textoDer {
        top: 25px!important;
        text-align: center!important;
        right: 0px!important;
    }
    .cuadro-princ span {
        left: -40px!important;
        font-size: 3em!important;
        bottom: -70px!important;
    }
    .nav-top-oscuro .row, app-inicio .row {
        margin-right: 0px!important;
        margin-left: 0px!important;
    }
    .nav-top-oscuro ul {
        text-align: center!important;
        float: none!important;
    }
    .nav-top-oscuro-dark .logo_nav {
        text-align: center!important;
    }
    .ofertas-mes {
        font-size: 20px!important;
        font-weight: 700!important;
    }
    .menu-principal {
        position: initial;
        background: #dcdde1!important;
        border-top: 1px solid #dcdde1;
    }
    #video {
        height: auto!important;
    }
    .texto-video {
        bottom: 30px!important;
    }
    .texto-video h1 {
        font-size: 1.5rem!important;
    }

    .dividir-columnas {
        height: 750px!important;
        max-height: none!important;
        max-width: none!important;
        width: 100%!important;
        left: 0px!important;
    }
    
    .dividir-columnas ul li {
        width: 45%!important;
    }

    .info-nav {
        text-align: center!important;
    }

    .info-nav .float-right {
        float: none!important;
    }

    .selector-buscador {
        top: 140px!important;
        left: 20px!important;
        width: 90%!important;
    }

    .ver-option {
        display: inline;
    }

    .breadcrumb {
        font-size: 11px!important;
    }

    .marcas-logo {
        display: none;
    }
}