<div class="container pt-4 pb-4 mb-lg-5 pol-venta">

    <div class="row">

      <div class="col-12">

        <h1 class="text-uppercase">Política de Venta</h1>

      </div>
  
      <div class="col-12 pt-4">
  
        <div id="polventas">
  
          <ul class="list-unstyled">
  
            <li>1. Se manejan 3 tipos de precios:
  
              <ul>
  
                <li>
                  
                  <span class="font-weight-bold">Distribuidor</span>
  
                  <p>Es aquel que es clientes nuestro, realiza reventa y su consumo es constante.</p>
                
                </li>
  
                <li>
                  
                  <span class="font-weight-bold">Sub-Distribuidor</span>
  
                  <p>Es aquel que es clientes nuestro, <span class="font-weight-bold">no</span> realiza reventa y su consumo es esporádico.</p>
                
                </li>
  
                <li>
                  
                  <span class="font-weight-bold">Mayorista</span>
  
                  <p>Es aquel que <span class="font-weight-bold">no</span> es clientes nuestro y <span class="font-weight-bold">no</span> realiza reventa.</p>
                
                </li>
  
              </ul>
  
            </li>
  
            <li>2. Para Distribuidores y Sub-Distribuidores no debe de tener saldos vencidos, para poder realizar con éxito si compra debe de liquidar la factura más pronta a vencer o vencida.</li>
            
            <li class="mt-4">3. Para Distribuidores y Sub-Distribuidores no debe exceder su línea de crédito, para realizar con éxito la compra puede abonar el excedente para tener disponible.</li>
  
            <li class="mt-4">4 .Los Tinacos, tubos de cobre y gas estaco¿ionario son pago forzoso de contado.</li>
  
            <li class="mt-4">5. No puede realizar una compra a nombre de otro cliente.</li>
  
            <li class="mt-4">6. Debe de presentar su <span class="font-weight-bold">Número de Cliente</span> para realizar su compra, esto para Distribuidores y Sub-Distribuidores en venta mostrador.</li>
  
            <li class="mt-4">7. En pedidos atípicos se requiere el 50% para levantar su pedido en mostrador.</li>
  
            <li class="mt-4">8. Para Distribuidores y Sub-Distribuidores cuando quieran agregar un complemento, se realiza con una factura diferente al primer pedido.</li>
  
          </ul>

        </div>
  
      </div>
  
    </div>
  
  </div>
  