<h1>Back Order</h1>

<p *ngIf="backOrder.length > 0">Solícita tus productos faltantes.</p>

<div class="row mas-vendidos" *ngIf="backOrder.length > 0">

    <div class="col-12 col-lg-3 col-md-6 col-sm-12 pt-2" *ngFor="let back of backOrder">

        <div class="card">

            <div class="card-body text-center">

                <img [src]="back.img" class="img-fluig" width="200">

                <h5 class="pt-2 pb-4">{{back.nombre}}</h5>

                <h3>

                    <span class="badge badge-danger" *ngIf="back.descuento > 0">{{ (back.descuento * 100) }}% de Descuento</span>

                </h3>

                <h4>

                    <span class="badge badge-info">BackOrder de {{back.back}} pz(s).</span>

                </h4>

                <h4>

                    <span class="badge badge-secondary">Fecha solicitado {{back.fecha | date:'dd-MM-yyyy'}}</span>

                </h4>

                <h4 class="font-weight-bold text-danger">

                    {{ back.precio | currency }}

                </h4>

                <button class="btn btn-linkedin" type="button" (click)="irA(back)">

                    Solicitar

                </button>

            </div>

        </div>

    </div>

</div>

<div class="row" *ngIf="backOrder.length === 0">

    <div class="col-lg-12 col-md-12 col-sm-12 alert alert-info" *ngIf="backOrder.length === 0 && sindato">

        <span>No tienes Back Order en este mes.</span>

    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 alert alert-success" *ngIf="backOrder.length === 0 && !sindato">

        <span>Obteniendo tu BackOrder del mes.</span>

    </div>

</div>