<div class="container">

    <div class="d-flex justify-content-around">

        <div class="d-flex flex-row bd-highlight mb-3">

            <div class="p-2 bd-highlight">

                <h1>Back Order</h1>

            </div>

        </div>

        <div class="d-flex flex-row-reverse bd-highlight">

            <div class="p-2 bd-highlight">

                <button type="button" class="btn btn-info" (click)="enviarPedido(backOrder)">Ingresar a Pedido</button>

            </div>

        </div>

    </div>


    <p *ngIf="backOrder.length > 0">Solícita tus productos faltantes.</p>

    <div class="row mas-vendidos" *ngIf="backOrder.length > 0">

        <div class="col-12 col-lg-3 col-md-6 col-sm-12 pt-2" *ngFor="let back of backOrder">

            <div class="card">

                <div class="card-body text-center">

                    <img [src]="back.IMAGEN" class="img-fluig" width="200">

                    <h5 class="pt-2 pb-4 text-truncate">{{back.NOMBRE}}</h5>

                    <h4>

                        <span class="badge badge-info">BackOrder de {{back.BACK}} pz(s).</span>

                    </h4>

                    <h4>

                        <span class="badge badge-secondary">Fecha solicitado {{back.FECHA | date:'dd-MM-yyyy'}}</span>

                    </h4>

                    <h6 class="text-muted" *ngIf="back.DESCUENTO > 0">

                        <small>

                            <s>{{ back.PRECIO | currency }}</s>
                            
                        </small>

                    </h6>

                    <h4 class="font-weight-bold text-danger" *ngIf="back.DESCUENTO > 0">

                        {{ back.PRECIO | currency }}

                    </h4>

                    <h4 class="font-weight-bold text-danger" *ngIf="back.DESCUENTO === 0">

                        {{ back.PRECIONETO | currency }}

                    </h4>

                    <h3 *ngIf="back.DESCUENTO > 0">

                        <span class="badge badge-inverse">{{ back.DESCUENTO }}% de Descuento</span>

                    </h3>

                    <button class="btn btn-linkedin" type="button" (click)="irA(back)">

                        VER

                    </button>

                </div>

            </div>

        </div>

    </div>

    <div class="row" *ngIf="backOrder.length === 0">

        <div class="col-lg-12 col-md-12 col-sm-12 alert alert-info" *ngIf="backOrder.length === 0 && sindato">

            <span>No tienes Back Order en este mes.</span>

        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 alert alert-success" *ngIf="backOrder.length === 0 && !sindato">

            <span>Obteniendo tu BackOrder del mes.</span>

        </div>

    </div>

</div>